.container{display: flex
    ;flex-direction: row;}

.Left{width: 30%;
background-color: rgb(218, 220, 220);
}

.Right{width: 70%;
} 

.row{display: flex;
    justify-content:space-between;
margin-bottom: 10px;}

.content{margin-bottom:5px ;
    border: 2px solid black;
}

img{width: 89px;
height: 90px;
border: 2px solid red;
;}

h1{margin-left: 30%;
    font-family: fantasy;
    font-size: 60px;}

h2{margin: 0px;padding: 0px;

text-align: center;}

li{font-size: 20px;
margin-bottom: 30px;}