.container{display: flex
    ;flex-direction: row;}

.Left{width: 30%;
background-color: aqua;
border: 5px solid blue;}

.Right{width: 70%;
border: 2px solid red;} 

.row{display: flex;
    justify-content:space-between;
    border: 2px solid black;
margin-bottom: 10px;}

.content{margin-bottom:5px ;
    border: 2px solid black;
}

img{width: 89px;
height: 90px;
border: 2px solid red;
;}

h1{margin-left: 30%;}

h2{margin: 0px;padding: 0px;

text-align: center;}

li{font-size: 20px;
margin-bottom: 30px;}

