h1{ position: relative;
    text-align: center;
    border: 2px solid red;
}

.mid{display: flex;
    margin-top: 40px;
}

.bottom{display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.midtext{margin-left: 120px;
        text-align: center;
        overflow-wrap: break-word;
        font-size: 150%;
        inline-size: 60%;
margin-right:120px ;}

img{width: 160px;height: 160px;}

.blockL{border: 3px solid black;
    width: 120px;
    height: 50px;   
    margin: 30px 30px 30px 25%;
    text-align: center;
    border-radius: 90px;
    width: 220px;
    height: 70px;
    border-style:double;
background-color: #b193ff70;}

.blockR{border: 3px solid black;
    width: 120px;
    height: 50px;   
    margin: 30px 25% 30px 30px ;
    text-align: center;
    border-radius: 90px;
    width: 220px;
    height: 70px;
    border-style:double;
background-color: #b193ff70;}

.block2{border: 3px solid black;
     width: 220px;
    height: 70px;
    text-align: center;
    border-radius: 90px;
    border-style:double;
background-color: #b193ff70;}

div{justify-content:space-between;}

a{text-align: center;
  font-family: arial black;
  font-size: 30px;}


