@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

h1{ position: relative;
    text-align: center;
    font-family:monospace;
    padding: 1rem 2rem;
    border-top: 6px double #000;
    border-bottom: 6px double #000;
    font-size: 40px;
    animation: slideInFromBottom 1s ease-in-out;
}

body{   background: linear-gradient(90deg, #1a237e, #283593); 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.mid{display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 40px;
    animation: fadeIn 1.5s ease-in-out; 
}

.bottom{display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.midtext{margin: 0 40px; 
    text-align: center;
    overflow-wrap: break-word;
    font-size: 150%;
    max-width: 60%; /}

img{width: 160px;
    height: 160px;
    animation: fadeIn 2s ease-in-out;}

.blockL, .blockR, .block2 {
    border: 3px double black;
    width: 220px;
    height: 70px;
    margin: 20px; 
    text-align: center;
    border-radius: 90px;
    background-image: radial-gradient(circle, #673ab7, #9575cd); 
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.blockL:hover, .blockR:hover, .block2:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

div{justify-content:space-between;}

a{ text-align: center;
    font-family: 'Arial Black', sans-serif;
    font-size: 24px; 
    color: #ffffff; 
    text-decoration: none; }

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

    



