h1{ position: relative;
    text-align: center;
    border: 2px solid red;
}

.mid{display: flex;
    border: 2px solid rebeccapurple;
    margin-top: 40px;
}

.bottom{display: flex;
    border: 2px solid rebeccapurple;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.midtext{margin-left: 120px;
        text-align: center;
margin-right:120px ;}

img{width: 80px;height: 80px;}

.blockL{border: 3px solid black;
    width: 120px;
    height: 50px;   
    margin: 25px 25px 25px 20%;
    text-align: center;
background-color: aqua;}

.blockR{border: 3px solid black;
    width: 120px;
    height: 50px;   
    margin: 25px 20% 25px 25px;
    text-align: center;
background-color: aqua;}

.block2{border: 3px solid black;
     width: 120px;
    height: 50px;
    margin: 25px;
    text-align: center;
background-color: aqua;}

div{justify-content:space-between;}

a{text-align: center;}


